
@import '../../../styles.scss';

.sub-row {
    -webkit-box-shadow: inset 0px 0px 24px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 24px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 24px 0px rgba(0,0,0,0.75);
    height: 80px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;

    display: flex;
    justify-content: center;
    a {
      text-decoration: none;
      color: white;
      display: flex;
      justify-content: baseline;

      p {
        margin: 0 5px 0 0;
      }


      mat-icon {
        margin-top: 4px;
      }
    }

  }

    .sub-row span {
      transition: all 0.2s ease;
      padding: 5px 10px 5px 10px;
      display: block;
      border-radius: 8px;
    }

    .sub-row span a.active {
      color: $accent;
    }

    .sub-row span a:hover {
      color: $accent;
      transition: 0.5s;
    }

    .sub-row span a p:hover {
      color: $accent;
      text-decoration: underline;
      transition: 0.5s;
    }