
<mat-toolbar color="primary">
  <mat-toolbar-row class="sub-row">

    <span>
      <a routerLink="match" routerLinkActive="active" >
        <p >
          Match
        </p>
        <mat-icon>play_arrow</mat-icon>
      </a>
    </span>

    <span>
      <a routerLink="players" routerLinkActive="active" >
        <p >
          Spillere
        </p>
        <mat-icon>person</mat-icon>
      </a>
    </span>
    <span>
      <a routerLink="stats" routerLinkActive="active" >
        <p >
          Stats
        </p>
<mat-icon>show_chart</mat-icon>
      </a>
    </span>
  </mat-toolbar-row>

</mat-toolbar>
